body {
    background-color: #C0C0C0;
}

.landing-bg {
    background-image: url("../img/home_pic.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headTitle {
    font-weight: bold;
}

.green {
    color: #00ff88;
}

#incorrectNum {
    display: none;
    color: #ff0000;
}